body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(/media/img/universe.jpg);
}

a:hover {
    text-decoration: none !important;
    color: #00CCFF;
}

ul {
    list-style: none;
    margin: 0 !important;
}

ul li {
     margin-bottom: 8px;
}

textarea {
    width: 600px !important;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
    line-height: 24px;    
}

.content p {
    padding-bottom: 20px;
}

.paypal-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 1020px;
}

#content-wrapper {
    min-height: 800px;
    background: #DDDDDD;
    opacity:0.85;
    filter:alpha(opacity=85);
    padding: 30px;
    padding-top: 15px;
}

#comments {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-info {
    cursor: default !important;
}

.datetime {
    font-size: 12px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    margin: 40px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 56px;
    line-height: 1;
    padding-bottom: 40px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.project-content {
    display: inline;
    position: relative;
    left: 50px;
    margin-left: -43px !important;
}

.empty-img {
    margin: 12px;
}

#loading {
    display: none;
    position: relative;
    top: 200px;
}

.marketing {
    margin: 20px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.lead {
    margin-bottom: 30px !important;
}

.repo-link {
    padding-left: 20px;
}

.project-repo-link {
    padding-left: 5px;
}

.img-up {
    position: relative;
    top: -2px;
    cursor: pointer;
}

.footer {
    color: #DDD;
}

.entry {
    margin-bottom: 25px;
    cursor: pointer;
}

.btn-info {
    cursor: pointer !important;
}