{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>The Science Videos Combinator</h1>
    <p class="lead">Discover, comment, vote, and enjoy the best scientific videos. <br>The site will automatically update itself based on what the community like.<br></p>
    <div class="last-update">Last updated {{config.object_age}}.</div>
</div>

<hr>      

<div class="row-fluid marketing">    

    {% for column in entries_columns %}
    <div class="span6">

        {% for entry in column %}
        <a href="/entries/{{entry.id}}/"><h4 class="entry-title">{{entry.title}} - {{entry.get_duration}}</h4>
        <img class="entry" src="{{entry.thumbnail}}"></a>
        {% endfor %}
    </div>

    {% endfor %}

</div>

{% endblock %}