{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>The Science Videos Combinator</h1>
    <p class="lead">Discover, comment, vote, and enjoy the best scientific videos. <br>This site is automatically updated based on what the community like!</p>    
</div>

<hr>      

<div class="row-fluid marketing">    

    {% for column in entries_columns %}
    <div class="span6">

        {% for entry in column %}
        <a href="/entries/{{entry.id}}/"><img class="entry" src="{{entry.thumbnail}}"></a>
        {% endfor %}
    </div>

    {% endfor %}

</div>

{% endblock %}