{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function vote(entryId) {

    $.post("/user/vote/", {"entry": entryId }, function(response) {

        var response = JSON.parse(response);
        $("#counter-" + entryId).text(response.votes);

        var empty = $("<span>");
        empty.addClass("empty-img");

        $("#arrow-" + entryId).replaceWith(empty);
    });
}
</script>
{% endblock %}

{% block content %} 

<div class="row-fluid marketing">    

    {% if entries %}
    <ul>
    {% for entry in entries %}    
        <li>
            <div class="span12">
                <div class="span6 entry-list-col1">                
                    <a href="/entries/{{entry.id}}/"><h4>{{entry.title}} - {{entry.get_duration}}</h4>            
                    <img class="entry" src="{{entry.thumbnail}}">
                    </a>
                </div>

                <div class="span4 entry-list-col2">

                    {% include "entry/_entrycontrols.html" %}
                </div>
            </div>
        </li>    
    {% endfor %}
    </ul>
    <button class="btn btn-info" onclick="location.href='/{{view_name}}/?page={{next_page}}'">More</button>
    {% else %}
    <h3>There are no more videos so far...</h3>
    <button class="btn" onclick="history.back()">Go Back</button>
    {% endif %}
</div>

{% endblock %}