{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function vote(entryId) {

    $.post("/user/vote/", {"entry": entryId }, function(response) {

        var response = JSON.parse(response);
        $("#counter-" + entryId).text(response.votes);

        var empty = $("<span>");
        empty.addClass("empty-img");

        $("#arrow-" + entryId).replaceWith(empty);
    });
}
</script>
{% endblock %}

{% block content %} 

{% block title%}{% endblock %}

<div class="row-fluid marketing">    

    {% if entries %}
    <ul>
    {% for entry in entries %}    
        <li>
            <!-- <span id="counter-{{entry.id}}">{{entry.votes}}</span> -->
            <div class="entry-content">
                <a href="/entries/{{entry.id}}/"><img class="entry" src="{{entry.thumbnail}}"></a>
            </div>
        </li>    
    {% endfor %}
    </ul>
    <a class="more-entries" href="/{{view_name}}/?page={{next_page}}">More</a>
    {% endif %}
</div>

{% endblock %}