{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block content %} 

{% block title%}{% endblock %}

<div class="row-fluid marketing">    

    <h4>{{entry.title}} - {{entry.get_duration}}</h4>

    <div class="entry-col1">
        <iframe width="640" height="480" src="http://www.youtube.com/embed/{{entry.remote_id}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="entry-col2">

        <div class="votes">
            Votes: <span id="votes-number-{{entry.id}}">{{entry.votes}}</span>
        </div>

        {% if request.user.is_authenticated %}
            
            {% if request.user.profile not in entry.voted_by.all %}
            <div>
                <button class="btn btn-success" onclick="upVote(this, {{entry.id}})">Up Vote</button>
            </div>
            {% endif %}

            {% if not entry in request.user.profile.entries.all %}
            <div>
                <button class="btn btn-primary" onclick="addToFavorites(this, {{entry.id}})">Add to favorites</button>
            </div>
            {% else %}
            <div>
                <button class="btn btn-info">Favorited</button>
            </div>
            {% endif %}

        {% endif %}
    </div>
</div>

{% endblock %}