{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function saveComment() {

    if (!$.trim($("#content-area").val())) {
        return;
    }

    var data = $("#comment-form").serialize();
    $.post("/comment/new/", data, function(response) {

        $("#content-area").val("");
        $("#comments").prepend(response);
    });
}

function loadComments() {

    $.post("/comment/all/", {"entry": "{{entry.id}}", "csrfmiddlewaretoken": "{{csrf_token}}"}, function(response) {

        $("#more-comments").hide();
        $("#comments").html(response);
    });
}
</script>
{% endblock %}

{% block content %} 

{% block title%}{% endblock %}

<div class="row-fluid marketing">    

    <h4>{{entry.title}} - {{entry.get_duration}}</h4>

    <div class="entry-col1">
        <iframe width="640" height="480" src="http://www.youtube.com/embed/{{entry.remote_id}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="entry-col2">
        {% include "entry/_entrycontrols.html" %}
    </div>
</div>

<div class="comments-title">Comments</div>

<ul id="comments">
    {% include "entry/_comments.html" %}    
</ul>

{% if are_more_comments %}
<div id="more-comments">
<a href="javascript:;" onclick="loadComments()">See more comments</a>
</div>
<br>
{% endif %}

<form id="comment-form" onsubmit="saveComment(); return false;">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" name="entry" value="{{entry.id}}">
        <textarea id="content-area" name="content"></textarea><br>
        {% if request.user.is_authenticated %}
        <input class="btn btn-primary" type="submit" value="Comment"/>
        {% else %}
        <input class="btn btn-primary" type="button" onclick="location.href='/login/'" value="Login to comment"/>
        {% endif %}
    </fieldset>
</form>


{% endblock %}